{% extends 'master/base.html' %}

{% block block_title %}
    teachers
{% endblock block_title %}

{% block body %}

<a href="{% url 'add-teacher' %}" class="btn btn-primary mb-3">
    Add Teacher
</a>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    {% for teacher in teachers %}
    <tr>
      <td>{{ teacher.name }}</td>
      <td>{{ teacher.email }}</td>
      <td>{{ teacher.address }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}