{% extends 'master/base.html' %}

{% block content %}
{% include 'master/message.html' %}

<h1>Calories List</h1>

<a href="{% url 'add_calorie' %}" class="btn btn-primary">Add Calories</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>SL</th>
            <th>Item Name</th>
            <th>Consumed Calories</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        {% for data in consumed_data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ data.item_name }}</td>
            <td>{{ data.calorie }}</td>

            <td>
                <a href="{% url 'update_calorie' data.id %}" class="badge bg-primary">
                    Edit
                </a>

                <a href="{% url 'delete_calorie' data.id %}" class="badge bg-danger">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock content %}